.example-1 {
    border: 1px dotted black;
    /* 上下左右都相同 */
}

.example-2 {
    border-bottom: 1px solid blue;
    /* 只设置底部边框 */
}

.example-3 {
    border: 1px solid grey;
    border-radius: 15px;
    /* 边框圆角 */
}

.example-4 {
    border-left: 5px solid purple;
}